body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.colBoxes {
    width: 35px;
    height: 30px;
}

.rowBoxes {
    border: solid black 1px;
    width: 35px;
    height: 30px;
}

/* .rowBoxes:hover {
    background-color: rgb(248, 214, 101);
    transition: background-color 0.3s ease;
} */

/* .rowBoxes:active {
    background-color: black;
} */